$mobile-breakpoint: 750px;

#bio2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    #title {
        padding-bottom: 4rem;
        display: block;

        span {
            font-size: 4rem;
            font-weight: bolder;
            line-height: 110%;
            color: var(--white-1);
        }
    }

    #pic-of-me {
        img {
            border-radius: 50%;
            max-width: 100px;
        }
    }

    #about {
        margin-left: 1rem;

        #slogan {
            line-height: 1.2rem;
            font-weight: 300;
        }

        #social {
            margin-top: 1rem;

            img {
                filter: invert(1) !important;
                width: 25px;
                height: 25px;
                margin: 0 0 0.3rem 0;
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }


    @media screen and (max-width: $mobile-breakpoint) {

        #title {
            flex: 1 100%;
            padding-bottom: 2rem;

            span {
                font-size: 3rem;
                display: block;
                text-align: center;

                &:nth-of-type(2) {
                    font-size: 1.5rem;
                }
            }
        }

        #pic-of-me {
            flex: 1 0 0;
            display: flex;
            justify-content: center;
        }

        #about {
            flex: 2 0 0;
        }
    }
}