/* header */

#bio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#img-wrapper img {
    border-radius: 50%;
    max-width: 100px;
}

#bio-wrapper {
    margin-left: 1rem;
}

#text-wrapper {
    line-height: 1.2rem;
    font-weight: 300;
}

#text-wrapper a {
    color: cyan;
    border-bottom: 1px solid cyan;
}

#social-wrapper {
    margin-top: 1rem;
}

#social-wrapper img {
    filter: invert() !important;
    width: 25px;
    height: 25px;
    margin: 0 0 0.3rem 0;
    transition: all 0.2s ease-in-out;
}

#social-wrapper img:hover {
    transform: scale(1.2);
}