<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    <main>
        <section id="pdf">
            <div id="mobile-pdf-wrapper" style="display: none;">
                <div id="pdf-page-nav">
                    <button id="prev">&lt;</button>
                    <span><span id="page_num"></span>&nbsp;/&nbsp;<span id="page_count"></span></span>
                    <button id="next">&gt;</button>
                </div>
                <a id="pdf-download" target="_blank" href="/assets/docs/{{ .Page.Params.docName }}"></a>
            
                <canvas id="canvas-pdf"></canvas>
            </div>
        </section>
    </main>
    {{ partial "footer.html" . }}
</body>

<script>
    window.pdfUrl = "/assets/docs/{{ .Page.Params.docName }}";
</script>

</html>