<section id="bio">

    <section id="title">
        <span>i am kash</span>
        <span>(moneymillionaire)</span>
    </section>

    <section id="pic-of-me">
        <img src="{{site.Data.author.profilePic}}" alt="Profile picture of {{site.Data.author.name}}" />
    </section>

    <section id="about">
        <div id="slogan">
            <p>
                Keep things simple, stay curious, build better software.
            </p>
        </div>
        <div id="social">
            {{ range site.Data.author.contact }}
            <a href="{{ .url }}" target="_blank">
                <img src="/assets/icons/{{ .title }}.png" alt="icon for {{ .title }}" />
            </a>
            {{ end }}
        </div>
    </section>

</section>