<div class="bio-header">
    <span class="site-title">i am kash</span>
    <span class="site-title milli">(moneymillionaire)</span>
</div>
<section id="bio">
    <section id="img-wrapper">
        <img src="{{site.Data.author.profilePic}}" alt="Profile picture of {{site.Data.author.name}}" />
    </section>
    <section id="bio-wrapper">
        <div id="text-wrapper">
            <p>
                Keep things simple, stay curious, build better software.
            </p>
        </div>
        <div id="social-wrapper">
            {{ range site.Data.author.contact }}
            <a href="{{ .url }}" target="_blank">
                <img src="/assets/icons/{{ .title }}.png" alt="" />
            </a>
            {{ end }}
        </div>
    </section>
</section>