<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if eq .IsHome true }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>

    <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico" />

    <!-- Common -->
    {{ $sass := resources.Get "scss/common.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}" />

    {{ if eq .Kind "404"}}
    <script defer src="/assets/js/404.js"></script>
    {{ end}}

    {{/*  Global Variables  */}}
    <script>
        const REM_SIZE = parseFloat(getComputedStyle(document.documentElement).fontSize);
    </script>

    <!-- PDF -->
    <script type="module">
        import pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.1.392/+esm'
        pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdn.jsdelivr.net/npm/pdfjs-dist@4.1.392/build/pdf.worker.mjs";
    </script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.1.392/pdf.min.mjs"
        integrity="sha512-5Dfh/zHYpSlz7zkw78tRIcEq7bqhdBQMWtEDLuArHaSB0S6S+9XCt703E3L6DtVqvP+KLyL3u+cEEp5efUmXSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <script defer src="/assets/js/pdf.js"></script>



    {{ range .AlternativeOutputFormats -}} {{ printf `
        <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVMHMP4LFR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-JVMHMP4LFR');
    </script>
</head>