<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if eq .IsHome true }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>

    <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico" />

    {{ partial "font.html" . }}

    <!-- Common -->
    {{ $sass := resources.Get "scss/common.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}" />

    {{ if eq .Kind "404"}}
    <script defer src="/assets/js/404.js"></script>
    {{ end}}

    {{/*  Global Variables  */}}
    <script crossorigin="anonymous">
        const REM_SIZE = parseFloat(getComputedStyle(document.documentElement).fontSize);
    </script>


    {{/*  PDF  */}}

    {{ if eq .Layout "pdf"}}
    <script type="module">
        import pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.1.392/+esm'
        pdfjsLib.GlobalWorkerOptions.workerSrc = "https://cdn.jsdelivr.net/npm/pdfjs-dist@4.1.392/build/pdf.worker.mjs";
    </script>
    <script defer src="/assets/js/pdf.js"></script>
    {{ end}}


    {{/*  Global for FUD  */}}
    <script>
        const setVis = () => document.body.style.visibility = 'visible';

        if (document.readyState === 'interactive' || document.readyState === 'complete')
            setVis();
        else     
            document.addEventListener('DOMContentLoaded', setVis);
    </script>


    {{ range .AlternativeOutputFormats -}} {{ printf `
        <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVMHMP4LFR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-JVMHMP4LFR');
    </script>
</head>